@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html {
    box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    padding: 1rem;
}

body {
	max-width: 800px;
	margin-left:auto;
	margin-right: auto;
    background-image: url(https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9MaWdodC1QYXN0ZWwtQmx1cnJlZC1CYWNrZ3JvdW5kcy04MDB4NTE4LTEuanBn&q=90&enlarge=true&h=1036&w=1600);
    background-size: cover;
}

.branding {
    font-family: 'Tapestry', Helvetica, sans-serif;
    font-size: 2rem;
    color: #609EA2;
}

.Heading {
    font-family: 'Roboto Condensed', Helvetica, sans-serif ;
    font-size:2rem ;
    color:#C92C6D;
}

.subheading {
    font-family: 'Roboto Condensed', Helvetica, sans-serif ;
    font-size:1.5rem ;
    color:#332C39;
}

p {
    font-family: 'Roboto Condensed', Helvetica, sans-serif ;
    font-size:1rem ;
    color:#332C39;
    line-height: 1.35;
}

dl{
    font-family: 'Roboto Condensed', Helvetica, sans-serif ;
    font-size:1rem ;
    color:#332C39;
}

.one{
   font-weight:bolder;
   font-style:italic; 
}

.two{
    font-weight:bolder;
    font-style:italic; 
 }

 .three{
    font-weight:bolder;
    font-style:italic; 
 }

 .quote{
    font-family: 'Courgette', Helvetica, sans-serif ;
    font-size:1rem ;
    color:#2B3467;
 }

