@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

html {
    box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    padding: 1rem;
}

body {
	max-width: 600px;
	margin-left:auto;
	margin-right: auto;
}

.branding {
    font-family: 'Lobster', Helvetica, sans-serif;
    font-size: 2rem;
    color: brown;
}

.Heading {
    font-family: 'Cookie', Helvetica, sans-serif ;
    font-size:2rem ;
    color:lightcoral
}


